#tablesContainer, #optionsContainer {
    background-color: white;
    width: 90%;
    height: auto;
    min-height: 150px;
    height:auto !important;
    border-spacing: 0;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.28);
    margin-left: 5%;
    border-collapse: separate;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#cTitle {
    color: #007dff;
    text-align: center;
    display: block;
}

#optionsContainer {
    margin-block-start: 4%;
}

#addBl, #toutCl {
    margin-block-start: 3%;
}

#addBlLabel, #toutClLabel {
    margin-inline-start: 20%;
}

#addBlOpt, #toutClOpt {
    display: block;
    margin-inline-start: 0.5%;
    padding-block-end: 0.1%;
    opacity: 0.5;
    font-size: 16pt;
}
