#clTitle, #blTitle  {
    text-align: center;
    opacity: 0.8;
}

table {
    text-align: center;
    font-family: arial, sans-serif;
    width: 95%;
    border-spacing: 0;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.28);
    border-collapse: separate;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

table th {
    background-color: #007dff;
    color: white;
}

#clients td, #clients th, #blacklist td, #blacklist th {
    padding: 6px;
}

#clients tr:hover, #blacklist tr:hover {
    background-color: #ddd;
    transition: background-color .2s linear;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#clients tr:last-child:hover td:first-child, #blacklist tr:last-child:hover td:first-child {
    border-radius: 0px 0px 0px 10px;
    -moz-border-radius: 0px 0px 0px 10px;
    -webkit-border-radius: 0px 0px 0px 10px;
}

#clients tr:last-child td:last-child, #blacklist tr:last-child td:last-child {
    border-radius: 0px 0px 10px 0px;
    -moz-border-radius: 0px 0px 10px 0px;
    -webkit-border-radius: 0px 0px 10px 0px;
}

#clients thead tr:first-child th:first-child, #blacklist thead tr:first-child th:first-child {
    border-radius: 10px 0px 0px 0px;
    -moz-border-radius: 10px 0px 0px 0px;
    -webkit-border-radius: 10px 0px 0px 0px;
}

#clients thead tr:first-child th:last-child, #blacklist thead tr:first-child th:last-child {
    border-radius: 0px 10px 0px 0px;
    -moz-border-radius: 0px 10px 0px 0px;
    -webkit-border-radius: 0px 10px 0px 0px;
}
